@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 4rem;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "open sans", sans-serif;
    align-items: center;
    font-weight: 400;
    max-width: 70rem;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem 0.3rem;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    position: fixed;
    max-width: 70rem;
    margin: 0 auto;
    opacity: .9;
}

.container {
    min-height: 80vh;
    margin: 4.3rem 1rem 0;
}

.logo img {
    height: 30px;
    width: 30px;
}

.navbar {
    letter-spacing: 1.1px;
    font-weight: 400;
}

.navbar a {
    padding-left: 1rem;
    color: #556369;
    opacity: 0.5;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #000000;
    opacity: 1;
    font-weight: 600;
}


.login {
    letter-spacing: 1px;
    font-weight: 300;
    
}

.login .btn {
    text-transform: uppercase;
    padding: 0.2rem 0.4rem;
    text-align: center;
    color: white;
    border-radius: 5px;
    background: #171717;
}

.login .btn:hover {
    background-color: #556369;
}

.content {
    margin: 0.8em;
    padding: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text h1 {
    font-family: 'gotham';
    font-size: clamp(5rem, 5vw, 8rem);
    font-weight: 500;
    color: rgb(0, 127, 109);
}

.content .text h4 {
    font-weight: 600;
    letter-spacing: 0.2em;
}

.content p {
    max-width: 20rem;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.content .img img {
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .content {
        display: block;
        overflow: hidden;
        text-align: center;
    }
    .content .text p {
        display: inline-block;
        text-align: center;
        align-items: center;
    }
    .content .img {
        display: none;
    }
 
}

.chart {
    margin-bottom: 32px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* /////////////// ANNOUNCEMENTS STUFF /////////////// */ 

.main-container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0.8em;
}

.announcments {
    display: flex;
    justify-content: center;
    font-size: 100%;
    background-color: #e8e8e9;
    margin-bottom: 32px;
    
}

.announcments  span {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    max-width: 60%;
    text-align: center;
    font-size: 19px;
    line-height: 1.75;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}
/* /////////////// MAIN SECTIONS STUFF /////////////// */ 

.statements {
    display: flex;
    margin-bottom: 2rem;
}

.statements .text {
    width: 50%;
    padding: 2rem 2.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #007f6e;
    line-height: 1.5;
    letter-spacing: .01em;
    -moz-osx-font-smoothing: grayscale;
}

.statements .image {
    width: 100%;
    height: 500px;
}

.statements .image img {
    height: 100%;
    max-width: 100%;
    flex-basis: 60%;
}

.text h3 {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1.5;
}

.second .text h3 {
    font-size: 24px;
    line-height: 1.5;
}


/* /////////////// FOOTER STUFF /////////////// */ 

.footer-container {
    max-width: 70rem;
    display: flex;
    margin: 0 1rem;
    justify-content: center;
    color: black;
    background-color: #e8e8e9;
    padding: auto auto;
}

.footer-container ul {
    padding: 0;
    list-style-type: none;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    -moz-osx-font-smoothing: grayscale;
}

.footer-container ul li {
    padding-left: 24px;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    max-width: 60%;
    font-size: 19px;
    text-align: center;
}

.footer-container .social a {
    color: #556369;
    opacity: 0.5;
    font-size: 1.7rem;
}

.footer-container .social a:hover {
    color: #000000;
    opacity: 1;
    font-weight: 600;
}






/* ------------- STORY PAGE ------------- */

.title {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 5rem;
    color: rgba(0, 127, 109, .8);
}

.title .text {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: 'gotham';
}

.story-container {
    border: 1px solid red;
    display: grid;
    grid-gap: 1rem;
    grid-template: 1fr / repeat(3, 1fr);

}

.big-grid {
    grid-column: 1 / -1;
}

.story-text {
    /* width: 50%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #007f6e;
    line-height: 1.5;
    letter-spacing: .07em;
    font-weight: 500;
    -moz-osx-font-smoothing: grayscale; */
}

.story-img {
    /* width: 50%; */
}

.story-img img {
    height: auto;
    max-width: 100%;
    /* flex-basis: 60%; */
    
}


.team-container {
    border: 1px solid red;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.team-img {
    padding: 1rem;
}

.team-img img {
    max-width: 100%;
}



/* ------------- CONTACT PAGE ------------- */


/* .grid-container {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 5rem;
    margin: 20rem 4rem 0rem 4rem;
    border: #007f6e solid;
} */



.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 70rem;
    margin: 4rem;
    padding: 0;
    align-items: center;
    gap: 1rem;
    border: 1px solid red;
}

.grid-container1 img {
    max-width: 100%;
}

.grid-container .text {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #007f6e;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;

}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 70rem;
    margin: 4rem;
    padding: 0;
    align-items: center;
    gap: 1rem;
    border: 1px solid green;
}

@media screen and (max-width: 700px) {
    .grid-container { 
    display: inline-block;
    gap: .8rem;
    }
    .grid-container .text {
        
    }
}

